<div class="row">
    <div class="col-6 offset-3 mt-5 ">
        <h5>Telefonos registrados</h5>
        <button class="btn btn-block bg-primary text-white mt-3 mb-3" routerLink='/home'>volver</button>
        <div class="alert alert-warning" role="alert" *ngIf="listaphone.length <= 0">
            No tiene telefonos registrados
        </div>
        <ul class="list-group" *ngIf="listaphone.length > 0">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of listaphone; let i =index">
                <span class="badge badge-primary mr-3 p-3">{{i + 1}} </span> telefono: {{item.tel}}
                <app-modal-editphone [IsEdit]='true' indexPhone="{{i}}" name="editphone{{i}}" class="mr-3"> </app-modal-editphone>
                <button class="btn btn-danger m-3" (click)="del(i)"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                     </svg>
                </button>
            </li>
        </ul>
    </div>
    <app-modal-editphone [IsEdit]="false" name="addphone"></app-modal-editphone>
</div>